In [1]:
%matplotlib notebook

In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
# Marijuana_Use_Past_Month_All_Ages_Colorado_2002-2017
marijuana_csv_path = "Marijuana_PastMonth_All_Ages_Colorado_2002-2017.csv"
marijuna_past_month_df = pd.read_csv(marijuana_csv_path)
marijuna_past_month_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Marijuana Use in the Past Month,12 or Older,2002-03,Colorado,0.084905,0.071134,0.101053
1,Marijuana Use in the Past Month,12 or Older,2003-04,Colorado,0.073297,0.061234,0.087515
2,Marijuana Use in the Past Month,12 or Older,2004-05,Colorado,0.075309,0.063525,0.089071

In [8]:
# Marijuana_Use_Past_Month_Ages > 12_Colorado_2002-2017
Colorado_marijuana_csv_path = "Marijuana_PastMonth_Age12_2002-20017_Colorado.csv"
Colorado_Past_Marijuan_Use_Age12_df = pd.read_csv(Colorado_marijuana_csv_path)
Colorado_Past_Marijuan_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Marijuana Use in the Past Month,12 or Older,2002-03,Colorado,0.084905,0.071134,0.101053
1,Marijuana Use in the Past Month,12 or Older,2003-04,Colorado,0.073297,0.061234,0.087515
2,Marijuana Use in the Past Month,12 or Older,2004-05,Colorado,0.075309,0.063525,0.089071

In [10]:
# First_Time_Marijuana_Use_All_Ages_Colorado_2002-2017
First_time_Colorado_csv_path = "First_Time_Marijuana_Use_All_Ages_Colorado_2002-2017.csv"
First_time_Use_All_Age_Colorado_df = pd.read_csv(First_time_Colorado_csv_path)
First_time_Use_All_Age_Colorado_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Average Annual Rate of First Use of Marijuana,12 or Older,2002-03,Colorado,0.023111,0.019676,0.027130
1,Average Annual Rate of First Use of Marijuana,12 or Older,2003-04,Colorado,0.023776,0.020153,0.028030
2,Average Annual Rate of First Use of Marijuana,12 or Older,2004-05,Colorado,0.020885,0.017665,0.024677

In [12]:
# Cigarette use in teh past month in Colorado 2002-2017
Colorado_tobbaco_csv_path = "Cigarette_PastMonth_Age12_2002-20017_Colorado.csv"
Colorado_Past_tobbaco_Use_Age12_df = pd.read_csv(Colorado_tobbaco_csv_path)
Colorado_Past_tobbaco_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Cigarette Use in the Past Month,12 or Older,2002-03,Colorado,0.267619,0.242190,0.294680
1,Cigarette Use in the Past Month,12 or Older,2003-04,Colorado,0.264886,0.238683,0.292858
2,Cigarette Use in the Past Month,12 or Older,2004-05,Colorado,0.225783,0.202671,0.250701

In [13]:
# Alchohal use in the past month in Colorado 2002-2017
Colorado_alchohal_csv_path = "Alchohal_PastMonth_Age12_2002-20017_Colorado.csv"
Colorado_Past_alchohal_Use_Age12_df = pd.read_csv(Colorado_alchohal_csv_path)
Colorado_Past_alchohal_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Alcohol Use in the Past Month,12 or Older,2002-03,Colorado,0.592246,0.561499,0.622287
1,Alcohol Use in the Past Month,12 or Older,2003-04,Colorado,0.587838,0.555057,0.619857
2,Alcohol Use in the Past Month,12 or Older,2004-05,Colorado,0.594260,0.562016,0.625712

In [11]:
# Marijunan_Colorado_ScatterPlot
#plt.scatter(Colorado_Past_Marijuan_Use_Age12_df["year_pair"], Colorado_Past_Marijuan_Use_Age12_df["estimate"])
#plt.plot(Colorado_Past_Marijuan_Use_Age12_df["year_pair"], Colorado_Past_Marijuan_Use_Age12_df["estimate"])

# Tobbaco_Colorado_ScatterPlot
#plt.scatter(Colorado_Past_tobbaco_Use_Age12_df["year_pair"], Colorado_Past_tobbaco_Use_Age12_df["estimate"])
#plt.plot(Colorado_Past_tobbaco_Use_Age12_df["year_pair"], Colorado_Past_tobbaco_Use_Age12_df["estimate"])

# Alchohal_Colorado_ScatterPlot
#plt.scatter(Colorado_Past_alchohal_Use_Age12_df["year_pair"], Colorado_Past_alchohal_Use_Age12_df["estimate"])
#plt.plot(Colorado_Past_alchohal_Use_Age12_df["year_pair"], Colorado_Past_alchohal_Use_Age12_df["estimate"])


#legend_elements = [Line2D([0], marker='o', color='w', label='Urban', ),
                  #Line2D([0], marker='o', color='w', label='Suburban', ),
                  #Line2D([0], marker='o', color='w', label='Rural', )]

#plt.legend(handles=legend_elements)

#plt.tight_layout()
#plt.grid()
#plt.show()