In [48]:
import pandas as pd
import glob

path = r'D:\Data_Project\Drug_Data_Years_Zach' # use your path
all_files = glob.glob(path + "/*.csv")


df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True, sort=True)

concatenated_df

,age_group,ci_lower,ci_upper,estimate,geography,outcome,year_pair,years
0,12 or Older,0.561499,0.622287,0.592246,Colorado,Alcohol Use in the Past Month,2002-03,NaN
1,12 or Older,0.555057,0.619857,0.587838,Colorado,Alcohol Use in the Past Month,2003-04,NaN
2,12 or Older,0.562016,0.625712,0.594260,Colorado,Alcohol Use in the Past Month,2004-05,NaN
3,12 or Older,0.554280,0.617521,0.586256,Colorado,Alcohol Use in the Past Month,2005-06,NaN
4,12 or Older,0.567890,0.631256,0.599991,Colorado,Alcohol Use in the Past Month,2006-07,NaN
5,12 or Older,0.590627,0.651325,0.621451,Colorado,Alcohol Use in the Past Month,2007-08,NaN
6,12 or Older,0.591432,0.651980,0.622182,Colorado,Alcohol Use in the Past Month,2008-09,NaN
7,12 or Older,0.593090,0.659292,0.626784,Colorado,Alcohol Use in the Past Month,2009-10,NaN
8,12 or Older,0.582345,0.645597,0.614454,Colorado,Alcohol Use in the Past Month,2010-11,NaN
9,12 or Older,0.560483,0.622751,0.591986,Colorado,Alcohol Use in the Past Month,2011-12,NaN
10,12 or Older,0.579449,0.640384,0.610347,Colorado,Alcohol Use in the Past Month,2012-13,NaN
11,12 or Older,0.586914,0.643424,0.615559,Colorado,Alcohol Use in the Past Month,2013-14,NaN
12,12 or Older,0.564005,0.619741,0.592170,Colorado,Alcohol Use in the Past Month,2014-15,NaN
13,12 or Older,0.546564,0.603500,0.575282,Colorado,Alcohol Use in the Past Month,2015-16,NaN
14,12 or Older,0.567720,0.621335,0.594810,Colorado,Alcohol Use in the Past Month,2016-17,NaN
15,12 or Older,0.456392,0.489053,0.472693,Texas,Alcohol Use in the Past Month,2002-03,NaN
16,12 or Older,0.450918,0.484447,0.467646,Texas,Alcohol Use in the Past Month,2003-04,NaN
17,12 or Older,0.469067,0.503322,0.486178,Texas,Alcohol Use in the Past Month,2004-05,NaN
18,12 or Older,0.478511,0.511723,0.495112,Texas,Alcohol Use in the Past Month,2005-06,NaN
19,12 or Older,0.460415,0.493553,0.476959,Texas,Alcohol Use in the Past Month,2006-07,NaN
20,12 or Older,0.453698,0.487089,0.470360,Texas,Alcohol Use in the Past Month,2007-08,NaN
21,12 or Older,0.466582,0.501884,0.484213,Texas,Alcohol Use in the Past Month,2008-09,NaN
22,12 or Older,0.472440,0.510489,0.491452,Texas,Alcohol Use in the Past Month,2009-10,NaN
23,12 or Older,0.478449,0.513743,0.496091,Texas,Alcohol Use in the Past Month,2010-11,NaN
24,12 or Older,0.465020,0.498828,0.481903,Texas,Alcohol Use in the Past Month,2011-12,NaN
25,12 or Older,0.451408,0.482830,0.467086,Texas,Alcohol Use in the Past Month,2012-13,NaN
26,12 or Older,0.457182,0.488336,0.472732,Texas,Alcohol Use in the Past Month,2013-14,NaN
27,12 or Older,0.464263,0.493740,0.478983,Texas,Alcohol Use in the Past Month,2014-15,NaN
28,12 or Older,0.457286,0.485601,0.471420,Texas,Alcohol Use in the Past Month,2015-16,NaN
29,12 or Older,0.457195,0.485314,0.471232,Texas,Alcohol Use in the Past Month,2016-17,NaN
...,...,...,...,...,...,...,...,...
287,18 to 25,0.281558,0.355664,0.317456,Colorado,Marijuana Use in the Past Month,2014-15,NaN
288,18 to 25,0.281553,0.365201,0.321952,Colorado,Marijuana Use in the Past Month,2015-16,NaN
289,18 to 25,0.276741,0.361038,0.317394,Colorado,Marijuana Use in the Past Month,2016-17,NaN
290,26 or Older,0.045223,0.079513,0.060119,Colorado,Marijuana Use in the Past Month,2002-03,NaN
291,26 or Older,0.036965,0.066029,0.049513,Colorado,Marijuana Use in the Past Month,2003-04,NaN
292,26 or Older,0.037296,0.065076,0.049365,Colorado,Marijuana Use in the Past Month,2004-05,NaN
293,26 or Older,0.041886,0.070569,0.054475,Colorado,Marijuana Use in the Past Month,2005-06,NaN
294,26 or Older,0.045011,0.074687,0.058096,Colorado,Marijuana Use in the Past Month,2006-07,NaN
295,26 or Older,0.052290,0.089027,0.068407,Colorado,Marijuana Use in the Past Month,2007-08,NaN
296,26 or Older,0.055720,0.095348,0.073098,Colorado,Marijuana Use in the Past Month,2008-09,NaN
297,26 or Older,0.069646,0.112039,0.088579,Colorado,Marijuana Use in the Past Month,2009-10,NaN
298,26 or Older,0.064283,0.103786,0.081890,Colorado,Marijuana Use in the Past Month,2010-11,NaN
299,26 or Older,0.059141,0.097989,0.076328,Colorado,Marijuana Use in the Past Month,2011-12,NaN
300,26 or Older,0.080841,0.126178,0.101280,Colorado,Marijuana Use in the Past Month,2012-13,NaN
301,26 or Older,0.102793,0.149969,0.124476,Colorado,Marijuana Use in the Past Month,2013-14,NaN
302,26 or Older,0.124148,0.172059,0.146488,Colorado,Marijuana Use in the Past Month,2014-15,NaN
303,26 or Older,0.119272,0.163771,0.140049,Colorado,Marijuana Use in the Past Month,2015-16,NaN
304,26 or Older,0.126122,0.173054,0.148058,Colorado,Marijuana Use in the Past Month,2016-17,NaN
305,18 or Older,0.034022,0.052204,0.042186,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2008-10
306,18 or Older,0.030192,0.045254,0.036993,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2010-12
307,18 or Older,0.033444,0.048058,0.040118,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2012-14
308,18 or Older,0.040201,0.058103,0.048372,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2014-16
309,18 to 25,0.052742,0.077695,0.064096,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2008-10
310,18 to 25,0.055543,0.081615,0.067419,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2010-12
311,18 to 25,0.060043,0.088200,0.072879,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2012-14
312,18 to 25,0.074630,0.107078,0.089537,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2014-16
313,26 or Older,0.029648,0.049764,0.038463,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2008-10
314,26 or Older,0.024460,0.041355,0.031841,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2010-12
315,26 or Older,0.027281,0.043806,0.034604,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2012-14
316,26 or Older,0.032871,0.052208,0.041474,Colorado,Had Serious Thoughts of Suicide in the Past Year,NaN,2014-16

In [34]:
# Locking onto Colorado
geography_df = concatenated_df.set_index(['geography'])
Colorado_loc = geography_df.loc[["Colorado"], ['age_group', 'outcome', 'estimate', 'year_pair']]

In [35]:
# Colorado All Ages First Time Marijuana use in the Past Year 
Colorado_First_Use_df = Colorado_loc.loc[Colorado_loc["outcome"] == "Average Annual Rate of First Use of Marijuana"]
Colorado_First_Use_df.head()

,age_group,outcome,estimate,year_pair
geography,,,,
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.023111,2002-03
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.023776,2003-04
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.020885,2004-05
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.019949,2005-06
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.023716,2006-07

In [36]:
# Colorado Ages 12 or Older Marijuana Use in the Past Month
Colorado_Mar_df = Colorado_loc.loc[Colorado_loc["outcome"] == "Marijuana Use in the Past Month"]
Colorado_age12 = Colorado_Mar_df.loc[Colorado_df["age_group"] == "12 or Older"]
Colorado_age12.drop_duplicates(subset='year_pair', keep="last").head()

             age_group                          outcome  estimate year_pair
geography
Colorado   12 or Older  Marijuana Use in the Past Month  0.084905   2002-03
Colorado   12 or Older  Marijuana Use in the Past Month  0.073297   2003-04
Colorado   12 or Older  Marijuana Use in the Past Month  0.075309   2004-05
Colorado   12 or Older  Marijuana Use in the Past Month  0.077573   2005-06
Colorado   12 or Older  Marijuana Use in the Past Month  0.081342   2006-07

In [37]:
# Colorado Ages 12 or Older Cigarrete Use in the Past Month
Colorado_Cig_df = Colorado_loc.loc[Colorado_loc["outcome"] == "Cigarette Use in the Past Month"]
Colorado_Cig_age12 = Colorado_Cig_df.loc[Colorado_Cig_df["age_group"] == "12 or Older"]
Colorado_Cig_age12.drop_duplicates(subset='year_pair', keep="last").head()

             age_group                          outcome  estimate year_pair
geography
Colorado   12 or Older  Cigarette Use in the Past Month  0.267619   2002-03
Colorado   12 or Older  Cigarette Use in the Past Month  0.264886   2003-04
Colorado   12 or Older  Cigarette Use in the Past Month  0.225783   2004-05
Colorado   12 or Older  Cigarette Use in the Past Month  0.222189   2005-06
Colorado   12 or Older  Cigarette Use in the Past Month  0.242215   2006-07

In [38]:
# Colorado Ages 12 or Older Alchohal Use in the Past Month
Colorado_Alch_df = Colorado_loc.loc[Colorado_loc["outcome"] == "Alcohol Use in the Past Month"]
Colorado_Alch_age12 = Colorado_Alch_df.loc[Colorado_Alch_df["age_group"] == "12 or Older"]
Colorado_Alch_age12.drop_duplicates(subset='year_pair', keep="last").head()

             age_group                        outcome  estimate year_pair
geography
Colorado   12 or Older  Alcohol Use in the Past Month  0.592246   2002-03
Colorado   12 or Older  Alcohol Use in the Past Month  0.587838   2003-04
Colorado   12 or Older  Alcohol Use in the Past Month  0.594260   2004-05
Colorado   12 or Older  Alcohol Use in the Past Month  0.586256   2005-06
Colorado   12 or Older  Alcohol Use in the Past Month  0.599991   2006-07

In [39]:
# Locking onto Texas
Texas_loc = geography_df.loc[["Texas"], ['age_group', 'outcome', 'estimate', 'year_pair']]

In [40]:
# Texas Ages 12 or Older Marijuana Use in the Past Month
Texas_Mar_df = Texas_loc.loc[Texas_loc["outcome"] == "Marijuana Use in the Past Month"]
Texas_Mar_age12 = Texas_Mar_df.loc[Texas_Mar_df["age_group"] == "12 or Older"]
Texas_Mar_age12.drop_duplicates(subset='year_pair', keep="last").head()

             age_group                          outcome  estimate year_pair
geography
Texas      12 or Older  Marijuana Use in the Past Month  0.047877   2002-03
Texas      12 or Older  Marijuana Use in the Past Month  0.046879   2003-04
Texas      12 or Older  Marijuana Use in the Past Month  0.046480   2004-05
Texas      12 or Older  Marijuana Use in the Past Month  0.043400   2005-06
Texas      12 or Older  Marijuana Use in the Past Month  0.042445   2006-07

In [41]:
# Texas Ages 12 or Older Cigarette Use in the Past Month
Texas_Cig_df = Texas_loc.loc[Texas_loc["outcome"] == "Cigarette Use in the Past Month"]
Texas_Cig_age12 = Texas_Cig_df.loc[Texas_Cig_df["age_group"] == "12 or Older"]
Texas_Cig_age12.drop_duplicates(subset='year_pair', keep="last").head()

             age_group                          outcome  estimate year_pair
geography
Texas      12 or Older  Cigarette Use in the Past Month  0.255619   2002-03
Texas      12 or Older  Cigarette Use in the Past Month  0.261496   2003-04
Texas      12 or Older  Cigarette Use in the Past Month  0.251116   2004-05
Texas      12 or Older  Cigarette Use in the Past Month  0.254688   2005-06
Texas      12 or Older  Cigarette Use in the Past Month  0.248605   2006-07

In [42]:
# Texas Ages 12 or Older Alchohal Use in the Past Month
Texas_Alch_df = Texas_loc.loc[Texas_loc["outcome"] == "Alcohol Use in the Past Month"]
Texas_Alch_age12 = Texas_Alch_df.loc[Texas_Alch_df["age_group"] == "12 or Older"]
Texas_Alch_age12.drop_duplicates(subset='year_pair', keep="last").head()

             age_group                        outcome  estimate year_pair
geography
Texas      12 or Older  Alcohol Use in the Past Month  0.472693   2002-03
Texas      12 or Older  Alcohol Use in the Past Month  0.467646   2003-04
Texas      12 or Older  Alcohol Use in the Past Month  0.486178   2004-05
Texas      12 or Older  Alcohol Use in the Past Month  0.495112   2005-06
Texas      12 or Older  Alcohol Use in the Past Month  0.476959   2006-07

In [43]:
# Locking onto United States
United_States_loc = geography_df.loc[["United States"], ['age_group', 'outcome', 'estimate', 'year_pair']]

In [44]:
# United States Ages 12 or Older Marijuana Use in the Past Month
USA_Mar_df = United_States_loc.loc[United_States_loc["outcome"] == "Marijuana Use in the Past Month"]
USA_Mar_age12 = USA_Mar_df.loc[USA_Mar_df["age_group"] == "12 or Older"]
USA_Mar_age12.drop_duplicates(subset='year_pair', keep="last").head()

,age_group,outcome,estimate,year_pair
geography,,,,
United States,12 or Older,Marijuana Use in the Past Month,0.061803,2002-03
United States,12 or Older,Marijuana Use in the Past Month,0.061091,2003-04
United States,12 or Older,Marijuana Use in the Past Month,0.060367,2004-05
United States,12 or Older,Marijuana Use in the Past Month,0.060247,2005-06
United States,12 or Older,Marijuana Use in the Past Month,0.059366,2006-07

In [45]:
# United States Ages 12 or Older Cigarette Use in the Past Month
USA_Cig_df = United_States_loc.loc[United_States_loc["outcome"] == "Cigarette Use in the Past Month"]
USA_Cig_age12 = USA_Cig_df.loc[USA_Cig_df["age_group"] == "12 or Older"]
USA_Cig_age12.drop_duplicates(subset='year_pair', keep="last").head()

,age_group,outcome,estimate,year_pair
geography,,,,
United States,12 or Older,Cigarette Use in the Past Month,0.257115,2002-03
United States,12 or Older,Cigarette Use in the Past Month,0.251633,2003-04
United States,12 or Older,Cigarette Use in the Past Month,0.248954,2004-05
United States,12 or Older,Cigarette Use in the Past Month,0.249570,2005-06
United States,12 or Older,Cigarette Use in the Past Month,0.246526,2006-07

In [47]:
# United States Ages 12 or Older Alchohal Use in the Past Month
USA_Alch_df = United_States_loc.loc[United_States_loc["outcome"] == "Alcohol Use in the Past Month"]
USA_Alch_age12 = USA_Alch_df.loc[USA_Alch_df["age_group"] == "12 or Older"]
USA_Alch_age12.drop_duplicates(subset='year_pair', keep="last").head()

                 age_group                        outcome  estimate year_pair
geography
United States  12 or Older  Alcohol Use in the Past Month  0.505017   2002-03
United States  12 or Older  Alcohol Use in the Past Month  0.501673   2003-04
United States  12 or Older  Alcohol Use in the Past Month  0.510531   2004-05
United States  12 or Older  Alcohol Use in the Past Month  0.513833   2005-06
United States  12 or Older  Alcohol Use in the Past Month  0.510716   2006-07