In [12]:
%matplotlib notebook

In [13]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [14]:
# Marijuana_Use_Past_Month_All_Ages_Colorado_2002-2017
marijuana_csv_path = "Marijuana_PastMonth_All_Ages_Colorado_2002-2017.csv"
marijuna_past_month_df = pd.read_csv(marijuana_csv_path)
marijuna_past_month_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Marijuana Use in the Past Month,12 or Older,2002-03,Colorado,0.084905,0.071134,0.101053
1,Marijuana Use in the Past Month,12 or Older,2003-04,Colorado,0.073297,0.061234,0.087515
2,Marijuana Use in the Past Month,12 or Older,2004-05,Colorado,0.075309,0.063525,0.089071

In [15]:
# Marijuana_Use_Past_Month_Ages > 12_Colorado_2002-2017
Colorado_marijuana_csv_path = "Marijuana_PastMonth_Age12_2002-20017_Colorado.csv"
Colorado_Past_Marijuan_Use_Age12_df = pd.read_csv(Colorado_marijuana_csv_path)
Colorado_Past_Marijuan_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Marijuana Use in the Past Month,12 or Older,2002-03,Colorado,0.084905,0.071134,0.101053
1,Marijuana Use in the Past Month,12 or Older,2003-04,Colorado,0.073297,0.061234,0.087515
2,Marijuana Use in the Past Month,12 or Older,2004-05,Colorado,0.075309,0.063525,0.089071

In [16]:
# First_Time_Marijuana_Use_All_Ages_Colorado_2002-2017
First_time_Colorado_csv_path = "First_Time_Marijuana_Use_All_Ages_Colorado_2002-2017.csv"
First_time_Use_All_Age_Colorado_df = pd.read_csv(First_time_Colorado_csv_path)
First_time_Use_All_Age_Colorado_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Average Annual Rate of First Use of Marijuana,12 or Older,2002-03,Colorado,0.023111,0.019676,0.027130
1,Average Annual Rate of First Use of Marijuana,12 or Older,2003-04,Colorado,0.023776,0.020153,0.028030
2,Average Annual Rate of First Use of Marijuana,12 or Older,2004-05,Colorado,0.020885,0.017665,0.024677

In [17]:
# Marijuana use in the past month in Colorado (Above)
# Cigarette use in teh past month in Colorado 2002-2017
Colorado_tobbaco_csv_path = "Cigarette_PastMonth_Age12_2002-20017_Colorado.csv"
Colorado_Past_tobbaco_Use_Age12_df = pd.read_csv(Colorado_tobbaco_csv_path)
Colorado_Past_tobbaco_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Cigarette Use in the Past Month,12 or Older,2002-03,Colorado,0.267619,0.242190,0.294680
1,Cigarette Use in the Past Month,12 or Older,2003-04,Colorado,0.264886,0.238683,0.292858
2,Cigarette Use in the Past Month,12 or Older,2004-05,Colorado,0.225783,0.202671,0.250701

In [18]:
# Alchohal use in the past month in Colorado 2002-2017
Colorado_alchohal_csv_path = "Alchohal_PastMonth_Age12_2002-20017_Colorado.csv"
Colorado_Past_alchohal_Use_Age12_df = pd.read_csv(Colorado_alchohal_csv_path)
Colorado_Past_alchohal_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Alcohol Use in the Past Month,12 or Older,2002-03,Colorado,0.592246,0.561499,0.622287
1,Alcohol Use in the Past Month,12 or Older,2003-04,Colorado,0.587838,0.555057,0.619857
2,Alcohol Use in the Past Month,12 or Older,2004-05,Colorado,0.594260,0.562016,0.625712

In [19]:
# Marijuana use in the past month in Texas 2002-2017 (Ages >12)
Texas_Marijuana_csv_path = "Marijuana_PastMonth_Age12_2002-20017_Texas.csv"
Texas_PastMonth_Marijuana_Use_Age12_df = pd.read_csv(Texas_Marijuana_csv_path)
Texas_PastMonth_Marijuana_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Marijuana Use in the Past Month,12 or Older,2002-03,Texas,0.047877,0.042872,0.053433
1,Marijuana Use in the Past Month,12 or Older,2003-04,Texas,0.046879,0.042043,0.052242
2,Marijuana Use in the Past Month,12 or Older,2004-05,Texas,0.046480,0.041657,0.051831

In [20]:
# Cigarette use in teh past month in Texas 2002-2017
Texas_Cigarette_csv_path = "Cigarette_PastMonth_Age12_2002-20017_Texas.csv"
Texas_PastMonth_Cigarette_Use_Age12_df = pd.read_csv(Texas_Cigarette_csv_path)
Texas_PastMonth_Cigarette_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Cigarette Use in the Past Month,12 or Older,2002-03,Texas,0.255619,0.241482,0.270288
1,Cigarette Use in the Past Month,12 or Older,2003-04,Texas,0.261496,0.247634,0.275849
2,Cigarette Use in the Past Month,12 or Older,2004-05,Texas,0.251116,0.237331,0.265423

In [21]:
# Alchohal use in teh past month in Texas 2002-2017
Texas_alchohal_csv_path = "Alchohal_PastMonth_Age12_2002-20017_Texas.csv"
Texas_PastMonth_alchohal_Use_Age12_df = pd.read_csv(Texas_alchohal_csv_path)
Texas_PastMonth_alchohal_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Alcohol Use in the Past Month,12 or Older,2002-03,Texas,0.472693,0.456392,0.489053
1,Alcohol Use in the Past Month,12 or Older,2003-04,Texas,0.467646,0.450918,0.484447
2,Alcohol Use in the Past Month,12 or Older,2004-05,Texas,0.486178,0.469067,0.503322

In [22]:
# Marijuana Use in the past month in the United States 2002-2017
United_States_Marijuana_csv_path = "Marijuana_PastMonth_Age12_2002-20017_United_States.csv"
United_States_PastMonth_Marijuana_Use_Age12_df = pd.read_csv(United_States_Marijuana_csv_path)
United_States_PastMonth_Marijuana_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Marijuana Use in the Past Month,12 or Older,2002-03,United States,0.061803,0.059905,0.063756
1,Marijuana Use in the Past Month,12 or Older,2003-04,United States,0.061091,0.059102,0.063144
2,Marijuana Use in the Past Month,12 or Older,2004-05,United States,0.060367,0.058334,0.062467

In [23]:
# Cigarette Use in the past month in the United States 2002-2017
United_States_Cigarette_csv_path = "Cigarette_PastMonth_Age12_2002-20017_United_States.csv"
United_States_PastMonth_Cigarette_Use_Age12_df = pd.read_csv(United_States_Cigarette_csv_path)
United_States_PastMonth_Cigarette_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Cigarette Use in the Past Month,12 or Older,2002-03,Texas,0.255619,0.241482,0.270288
1,Cigarette Use in the Past Month,12 or Older,2003-04,Texas,0.261496,0.247634,0.275849
2,Cigarette Use in the Past Month,12 or Older,2004-05,Texas,0.251116,0.237331,0.265423

In [24]:
# Alchohal Use in the past month in the United States 2002-2017
United_States_Alchohal_csv_path = "Alchohal_PastMonth_Age12_2002-20017_UnitedStates.csv"
United_States_PastMonth_Alchohal_Use_Age12_df = pd.read_csv(United_States_Alchohal_csv_path)
United_States_PastMonth_Alchohal_Use_Age12_df.head(3)

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Alcohol Use in the Past Month,12 or Older,2002-03,United States,0.505017,0.499304,0.510728
1,Alcohol Use in the Past Month,12 or Older,2003-04,United States,0.501673,0.496153,0.507192
2,Alcohol Use in the Past Month,12 or Older,2004-05,United States,0.510531,0.504991,0.516068

In [ ]:
# Marijunan_Colorado_ScatterPlot
#plt.scatter(Colorado_Past_Marijuan_Use_Age12_df["year_pair"], Colorado_Past_Marijuan_Use_Age12_df["estimate"])
#plt.plot(Colorado_Past_Marijuan_Use_Age12_df["year_pair"], Colorado_Past_Marijuan_Use_Age12_df["estimate"])

# Tobbaco_Colorado_ScatterPlot
#plt.scatter(Colorado_Past_tobbaco_Use_Age12_df["year_pair"], Colorado_Past_tobbaco_Use_Age12_df["estimate"])
#plt.plot(Colorado_Past_tobbaco_Use_Age12_df["year_pair"], Colorado_Past_tobbaco_Use_Age12_df["estimate"])

# Alchohal_Colorado_ScatterPlot
#plt.scatter(Colorado_Past_alchohal_Use_Age12_df["year_pair"], Colorado_Past_alchohal_Use_Age12_df["estimate"])
#plt.plot(Colorado_Past_alchohal_Use_Age12_df["year_pair"], Colorado_Past_alchohal_Use_Age12_df["estimate"])


#legend_elements = [Line2D([0], marker='o', color='w', label='Urban', ),
                  #Line2D([0], marker='o', color='w', label='Suburban', ),
                  #Line2D([0], marker='o', color='w', label='Rural', )]

#plt.legend(handles=legend_elements)

#plt.tight_layout()
#plt.grid()
#plt.show()