In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from pprint import pprint

In [2]:
violent_2008="08-17Crime/ViolentCrimes/2008ViolentCrimes.csv"
violent_2009="08-17Crime/ViolentCrimes/2009ViolentCrimes.csv"
violent_2010="08-17Crime/ViolentCrimes/2010ViolentCrimes.csv"
violent_2011="08-17Crime/ViolentCrimes/2011ViolentCrimes.csv"
violent_2012="08-17Crime/ViolentCrimes/2012ViolentCrimes.csv"
violent_2013="08-17Crime/ViolentCrimes/2013ViolentCrimes.csv"
violent_2014="08-17Crime/ViolentCrimes/2014ViolentCrimes.csv"
violent_2015="08-17Crime/ViolentCrimes/2015ViolentCrimes.csv"
violent_2016="08-17Crime/ViolentCrimes/2016ViolentCrimes.csv"
violent_2017="08-17Crime/ViolentCrimes/2017ViolentCrimes.csv"

violent_2008_df=pd.read_csv(violent_2008)
violent_2009_df=pd.read_csv(violent_2009)
violent_2010_df=pd.read_csv(violent_2010)
violent_2011_df=pd.read_csv(violent_2011)
violent_2012_df=pd.read_csv(violent_2012)
violent_2013_df=pd.read_csv(violent_2013)
violent_2014_df=pd.read_csv(violent_2014)
violent_2015_df=pd.read_csv(violent_2015)
violent_2016_df=pd.read_csv(violent_2016)
violent_2017_df=pd.read_csv(violent_2017)

In [3]:
combined_crimes=pd.merge(violent_2008_df,violent_2009_df,how='outer',on='Offense Type')

combined_crimes.head()

,Offense Type,Number of Crimes_x,"Crime Rate (per 100,000)_x",Number of Crimes_y,"Crime Rate (per 100,000)_y"
0,All Offense Types,"262,213","5,302.99","255,803","5,087.31"
1,Violent Crime,"17,737",358.71,"17,607",350.16
2,Murder,138,2.79,126,2.51
3,Aggravated Assault,"10,095",204.16,"9,785",194.6
4,Non-consensual Sex Offenses,"4,465",90.3,"4,641",92.3

In [4]:
combined_crimes=combined_crimes.rename(columns={"Number of Crimes_x":"2008 Crimes",
                                                "Crime Rate (per 100,000)_x":"2008 Crime Rate (per 100,000)",
                                                "Number of Crimes_y":"2009 Crimes",
                                                "Crime Rate (per 100,000)_y":"2009 Crime Rate (per 100,000)"  
})

combined_crimes.head()

,Offense Type,2008 Crimes,"2008 Crime Rate (per 100,000)",2009 Crimes,"2009 Crime Rate (per 100,000)"
0,All Offense Types,"262,213","5,302.99","255,803","5,087.31"
1,Violent Crime,"17,737",358.71,"17,607",350.16
2,Murder,138,2.79,126,2.51
3,Aggravated Assault,"10,095",204.16,"9,785",194.6
4,Non-consensual Sex Offenses,"4,465",90.3,"4,641",92.3

In [5]:
combined_crimes=pd.merge(combined_crimes,violent_2010_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2010 Crimes",
                                                "Crime Rate (per 100,000)":"2010 Crime Rate (per 100,000)"
                                               })
combined_crimes.head()

,Offense Type,2008 Crimes,"2008 Crime Rate (per 100,000)",2009 Crimes,"2009 Crime Rate (per 100,000)",2010 Crimes,"2010 Crime Rate (per 100,000)"
0,All Offense Types,"262,213","5,302.99","255,803","5,087.31","258,384","5,134.84"
1,Violent Crime,"17,737",358.71,"17,607",350.16,"17,436",346.5
2,Murder,138,2.79,126,2.51,93,1.85
3,Aggravated Assault,"10,095",204.16,"9,785",194.6,"9,707",192.91
4,Non-consensual Sex Offenses,"4,465",90.3,"4,641",92.3,"4,687",93.14

In [6]:
combined_crimes=pd.merge(combined_crimes,violent_2011_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2011 Crimes",
                                                "Crime Rate (per 100,000)":"2011 Crime Rate (per 100,000)"
                                               })

In [7]:
combined_crimes=pd.merge(combined_crimes,violent_2012_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2012 Crimes",
                                                "Crime Rate (per 100,000)":"2012 Crime Rate (per 100,000)"
                                               })

In [8]:
combined_crimes=pd.merge(combined_crimes,violent_2013_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2013 Crimes",
                                                "Crime Rate (per 100,000)":"2013 Crime Rate (per 100,000)"
                                               })

In [9]:
combined_crimes=pd.merge(combined_crimes,violent_2014_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2014 Crimes",
                                                "Crime Rate (per 100,000)":"2014 Crime Rate (per 100,000)"
                                               })

In [10]:
combined_crimes=pd.merge(combined_crimes,violent_2015_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2015 Crimes",
                                                "Crime Rate (per 100,000)":"2015 Crime Rate (per 100,000)"
                                               })

In [11]:
combined_crimes=pd.merge(combined_crimes,violent_2016_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2016 Crimes",
                                                "Crime Rate (per 100,000)":"2016 Crime Rate (per 100,000)"
                                               })

In [12]:
combined_crimes=pd.merge(combined_crimes,violent_2017_df,how='outer',on='Offense Type')

combined_crimes=combined_crimes.rename(columns={"Number of Crimes":"2017 Crimes",
                                                "Crime Rate (per 100,000)":"2017 Crime Rate (per 100,000)"
                                               })
combined_crimes.head()

,Offense Type,2008 Crimes,"2008 Crime Rate (per 100,000)",2009 Crimes,"2009 Crime Rate (per 100,000)",2010 Crimes,"2010 Crime Rate (per 100,000)",2011 Crimes,"2011 Crime Rate (per 100,000)",2012 Crimes,...,2013 Crimes,"2013 Crime Rate (per 100,000)",2014 Crimes,"2014 Crime Rate (per 100,000)",2015 Crimes,"2015 Crime Rate (per 100,000)",2016 Crimes,"2016 Crime Rate (per 100,000)",2017 Crimes,"2017 Crime Rate (per 100,000)"
0,All Offense Types,"262,213","5,302.99","255,803","5,087.31","258,384","5,134.84","264,092","5,158.44","299,977",...,"291,543","5,530.13","292,997","5,460.42","312,291","5,710.84","331,926","6,070.87","339,116","6,032.16"
1,Violent Crime,"17,737",358.71,"17,607",350.16,"17,436",346.5,"17,358",339.05,"19,243",...,"18,475",350.44,"18,814",350.63,"19,947",364.77,"21,608",395.21,"23,343",415.22
2,Murder,138,2.79,126,2.51,93,1.85,139,2.72,162,...,175,3.32,151,2.81,173,3.16,190,3.48,218,3.88
3,Aggravated Assault,"10,095",204.16,"9,785",194.6,"9,707",192.91,"9,131",178.35,"10,180",...,"9,713",184.24,"10,148",189.12,"10,611",194.04,"11,791",215.66,"12,780",227.33
4,Non-consensual Sex Offenses,"4,465",90.3,"4,641",92.3,"4,687",93.14,"4,892",95.55,"5,546",...,"5,435",103.09,"5,481",102.15,"5,835",106.7,"6,072",111.06,"6,513",115.85

In [ ]:
#Convert rate per 100,000 to percentage, cross reference with estimate percentage in marijuanaDF
#convert by multiplying estimate percentage by 1,000
#then name graph per 100,000 effected

In [22]:
marijuana='../Drug_Data_Years_Zach/Marijuana_PastMonth_All_Ages_Colorado_2002-2017.csv'

marijuanaUseDF=pd.read_csv(marijuana)
marijuanaUseDF.head()

,outcome,age_group,year_pair,geography,estimate,ci_lower,ci_upper
0,Marijuana Use in the Past Month,12 or Older,2002-03,Colorado,0.084905,0.071134,0.101053
1,Marijuana Use in the Past Month,12 or Older,2003-04,Colorado,0.073297,0.061234,0.087515
2,Marijuana Use in the Past Month,12 or Older,2004-05,Colorado,0.075309,0.063525,0.089071
3,Marijuana Use in the Past Month,12 or Older,2005-06,Colorado,0.077573,0.065206,0.092054
4,Marijuana Use in the Past Month,12 or Older,2006-07,Colorado,0.081342,0.068565,0.096255

In [24]:
marijuanaUseDF.groupby('year_pair').sum()

           estimate  ci_lower  ci_upper
year_pair
2002-03    0.543284  0.449920  0.653907
2003-04    0.480550  0.394956  0.582823
2004-05    0.500089  0.413007  0.603538
2005-06    0.497612  0.411594  0.599332
2006-07    0.519810  0.432997  0.621595
2007-08    0.578317  0.477778  0.696909
2008-09    0.611528  0.506298  0.735526
2009-10    0.678349  0.569213  0.805279
2010-11    0.681546  0.574362  0.805458
2011-12    0.657280  0.553864  0.777399
2012-13    0.758975  0.643415  0.891467
2013-14    0.863405  0.744057  0.997790
2014-15    0.912073  0.791987  1.046244
2015-16    0.878168  0.760730  1.009351
2016-17    0.891705  0.771853  1.025408

In [26]:
crimeperrate=combined_crimes[['Offense Type','2008 Crime Rate (per 100,000)','2009 Crime Rate (per 100,000)',
                              '2010 Crime Rate (per 100,000)','2011 Crime Rate (per 100,000)',
                              '2012 Crime Rate (per 100,000)','2013 Crime Rate (per 100,000)',
                              '2014 Crime Rate (per 100,000)','2015 Crime Rate (per 100,000)',
                              '2016 Crime Rate (per 100,000)','2017 Crime Rate (per 100,000)']]
crimeperrate.head()

,Offense Type,"2008 Crime Rate (per 100,000)","2009 Crime Rate (per 100,000)","2010 Crime Rate (per 100,000)","2011 Crime Rate (per 100,000)","2012 Crime Rate (per 100,000)","2013 Crime Rate (per 100,000)","2014 Crime Rate (per 100,000)","2015 Crime Rate (per 100,000)","2016 Crime Rate (per 100,000)","2017 Crime Rate (per 100,000)"
0,All Offense Types,"5,302.99","5,087.31","5,134.84","5,158.44","5,778.48","5,530.13","5,460.42","5,710.84","6,070.87","6,032.16"
1,Violent Crime,358.71,350.16,346.5,339.05,370.68,350.44,350.63,364.77,395.21,415.22
2,Murder,2.79,2.51,1.85,2.72,3.12,3.32,2.81,3.16,3.48,3.88
3,Aggravated Assault,204.16,194.6,192.91,178.35,196.1,184.24,189.12,194.04,215.66,227.33
4,Non-consensual Sex Offenses,90.3,92.3,93.14,95.55,106.83,103.09,102.15,106.7,111.06,115.85