In [8]:
# Dependencies
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize

In [9]:
url = "https://data.nasa.gov/resource/gh4g-9sfh.json"
response = requests.get(url)
x = response.json()

x[0]

{'name': 'Aachen',
 'id': '1',
 'nametype': 'Valid',
 'recclass': 'L5',
 'mass': '21',
 'fall': 'Fell',
 'year': '1880-01-01T00:00:00.000',
 'reclat': '50.775000',
 'reclong': '6.083330',
 'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}

In [10]:
pd.DataFrame(x)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'latitude': '50.775', 'longitude': '6.08333'}",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'latitude': '56.18333', 'longitude': '10.23333'}",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'latitude': '54.21667', 'longitude': '-113.0'}",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'latitude': '16.88333', 'longitude': '-99.9'}",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'latitude': '-33.16667', 'longitude': '-64.95'}",NaN,NaN
5,Adhi Kot,379,Valid,EH4,4239,Fell,1919-01-01T00:00:00.000,32.100000,71.800000,"{'latitude': '32.1', 'longitude': '71.8'}",NaN,NaN
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910,Fell,1949-01-01T00:00:00.000,44.833330,95.166670,"{'latitude': '44.83333', 'longitude': '95.16667'}",NaN,NaN
7,Agen,392,Valid,H5,30000,Fell,1814-01-01T00:00:00.000,44.216670,0.616670,"{'latitude': '44.21667', 'longitude': '0.61667'}",NaN,NaN
8,Aguada,398,Valid,L6,1620,Fell,1930-01-01T00:00:00.000,-31.600000,-65.233330,"{'latitude': '-31.6', 'longitude': '-65.23333'}",NaN,NaN
9,Aguila Blanca,417,Valid,L,1440,Fell,1920-01-01T00:00:00.000,-30.866670,-64.550000,"{'latitude': '-30.86667', 'longitude': '-64.55'}",NaN,NaN
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000,Fell,1974-01-01T00:00:00.000,16.398060,-9.570280,"{'latitude': '16.39806', 'longitude': '-9.57028'}",NaN,NaN
11,AÃ¯r,424,Valid,L6,24000,Fell,1925-01-01T00:00:00.000,19.083330,8.383330,"{'latitude': '19.08333', 'longitude': '8.38333'}",NaN,NaN
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769-01-01T00:00:00.000,50.666670,2.333330,"{'latitude': '50.66667', 'longitude': '2.33333'}",NaN,NaN
13,Akaba,426,Valid,L6,779,Fell,1949-01-01T00:00:00.000,29.516670,35.050000,"{'latitude': '29.51667', 'longitude': '35.05'}",NaN,NaN
14,Akbarpur,427,Valid,H4,1800,Fell,1838-01-01T00:00:00.000,29.716670,77.950000,"{'latitude': '29.71667', 'longitude': '77.95'}",NaN,NaN
15,Akwanga,432,Valid,H,3000,Fell,1959-01-01T00:00:00.000,8.916670,8.433330,"{'latitude': '8.91667', 'longitude': '8.43333'}",NaN,NaN
16,Akyumak,433,Valid,"Iron, IVA",50000,Fell,1981-01-01T00:00:00.000,39.916670,42.816670,"{'latitude': '39.91667', 'longitude': '42.81667'}",NaN,NaN
17,Al Rais,446,Valid,CR2-an,160,Fell,1957-01-01T00:00:00.000,24.416670,39.516670,"{'latitude': '24.41667', 'longitude': '39.51667'}",NaN,NaN
18,Al Zarnkh,447,Valid,LL5,700,Fell,2001-01-01T00:00:00.000,13.660330,28.960000,"{'latitude': '13.66033', 'longitude': '28.96'}",NaN,NaN
19,Alais,448,Valid,CI1,6000,Fell,1806-01-01T00:00:00.000,44.116670,4.083330,"{'latitude': '44.11667', 'longitude': '4.08333'}",NaN,NaN
20,Albareto,453,Valid,L/LL4,2000,Fell,1766-01-01T00:00:00.000,44.650000,11.016670,"{'latitude': '44.65', 'longitude': '11.01667'}",NaN,NaN
21,Alberta,454,Valid,L,625,Fell,1949-01-01T00:00:00.000,2.000000,22.666670,"{'latitude': '2.0', 'longitude': '22.66667'}",NaN,NaN
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252,Fell,2002-01-01T00:00:00.000,45.821330,6.015330,"{'latitude': '45.82133', 'longitude': '6.01533'}",NaN,NaN
23,Aldsworth,461,Valid,LL5,700,Fell,1835-01-01T00:00:00.000,51.783330,-1.783330,"{'latitude': '51.78333', 'longitude': '-1.78333'}",NaN,NaN
24,Aleppo,462,Valid,L6,3200,Fell,1873-01-01T00:00:00.000,36.233330,37.133330,"{'latitude': '36.23333', 'longitude': '37.13333'}",NaN,NaN
25,Alessandria,463,Valid,H5,908,Fell,1860-01-01T00:00:00.000,44.883330,8.750000,"{'latitude': '44.88333', 'longitude': '8.75'}",NaN,NaN
26,Alexandrovsky,465,Valid,H4,9251,Fell,1900-01-01T00:00:00.000,50.950000,31.816670,"{'latitude': '50.95', 'longitude': '31.81667'}",NaN,NaN
27,Alfianello,466,Valid,L6,228000,Fell,1883-01-01T00:00:00.000,45.266670,10.150000,"{'latitude': '45.26667', 'longitude': '10.15'}",NaN,NaN
28,Allegan,2276,Valid,H5,32000,Fell,1899-01-01T00:00:00.000,42.533330,-85.883330,"{'latitude': '42.53333', 'longitude': '-85.883...",50,429
29,Allende,2278,Valid,CV3,2000000,Fell,1969-01-01T00:00:00.000,26.966670,-105.316670,"{'latitude': '26.96667', 'longitude': '-105.31...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
970,Sylacauga,23773,Valid,H4,5560,Fell,1954-01-01T00:00:00.000,33.188360,-86.294500,"{'latitude': '33.18836', 'longitude': '-86.2945'}",29,1637
971,Tabor,23776,Valid,H5,7540,Fell,1753-01-01T00:00:00.000,49.400000,14.650000,"{'latitude': '49.4', 'longitude': '14.65'}",NaN,NaN
972,Tadjera,23778,Valid,L5,9000,Fell,1867-01-01T00:00:00.000,36.183330,5.416670,"{'latitude': '36.18333', 'longitude': '5.41667'}",NaN,NaN
973,Tagish Lake,23782,Valid,C2-ung,10000,Fell,2000-01-01T00:00:00.000,59.704440,-134.201390,"{'latitude': '59.70444', 'longitude': '-134.20...",NaN,NaN
974,Tahara,23784,Valid,H4/5,1000,Fell,1991-01-01T00:00:00.000,34.720000,137.305000,"{'latitude': '34.72', 'longitude': '137.305'}",NaN,NaN
975,Takenouchi,23789,Valid,H5,720,Fell,1880-01-01T00:00:00.000,35.383330,134.900000,"{'latitude': '35.38333', 'longitude': '134.9'}",NaN,NaN
976,Talampaya,23791,Valid,Eucrite-cm,1421,Fell,1995-01-01T00:00:00.000,NaN,NaN,NaN,NaN,NaN
977,Tambakwatu,23795,Valid,L6,10500,Fell,1975-01-01T00:00:00.000,-7.750000,112.766670,"{'latitude': '-7.75', 'longitude': '112.76667'}",NaN,NaN
978,Tamdakht,48691,Valid,H5,100000,Fell,2008-01-01T00:00:00.000,31.163330,-7.015000,"{'latitude': '31.16333', 'longitude': '-7.015'}",NaN,NaN
979,TanÃ©,23801,Valid,L5,905,Fell,1918-01-01T00:00:00.000,35.433330,136.233330,"{'latitude': '35.43333', 'longitude': '136.233...",NaN,NaN
980,Taonan,23873,Valid,L5,3850,Fell,1965-01-01T00:00:00.000,45.400000,122.900000,"{'latitude': '45.4', 'longitude': '122.9'}",NaN,NaN
981,Tatahouine,23884,Valid,Diogenite,12000,Fell,1931-01-01T00:00:00.000,32.950000,10.416670,"{'latitude': '32.95', 'longitude': '10.41667'}",NaN,NaN
982,Tathlith,23885,Valid,L6,2500,Fell,1967-01-01T00:00:00.000,19.383330,43.733330,"{'latitude': '19.38333', 'longitude': '43.73333'}",NaN,NaN
983,Tauk,23887,Valid,L6,6000,Fell,1929-01-01T00:00:00.000,35.133330,44.450000,"{'latitude': '35.13333', 'longitude': '44.45'}",NaN,NaN
984,Tauti,23888,Valid,L6,21000,Fell,1937-01-01T00:00:00.000,46.716670,23.500000,"{'latitude': '46.71667', 'longitude': '23.5'}",NaN,NaN
985,Tenham,23897,Valid,L6,160000,Fell,1879-01-01T00:00:00.000,-25.733330,142.950000,"{'latitude': '-25.73333', 'longitude': '142.95'}",NaN,NaN
986,Tennasilm,23898,Valid,L4,28500,Fell,1872-01-01T00:00:00.000,58.033330,26.950000,"{'latitude': '58.03333', 'longitude': '26.95'}",NaN,NaN
987,Thal,23908,Valid,H6,342,Fell,1950-01-01T00:00:00.000,33.400000,70.600000,"{'latitude': '33.4', 'longitude': '70.6'}",NaN,NaN
988,Thika,54493,Valid,L6,14200,Fell,2011-01-01T00:00:00.000,-1.002780,37.150280,"{'latitude': '-1.00278', 'longitude': '37.15028'}",NaN,NaN
989,Thuathe,23976,Valid,H4/5,45300,Fell,2002-01-01T00:00:00.000,-29.333330,27.583330,"{'latitude': '-29.33333', 'longitude': '27.583...",NaN,NaN
990,Tianzhang,23984,Valid,H5,2232,Fell,1986-01-01T00:00:00.000,32.946670,118.990000,"{'latitude': '32.94667', 'longitude': '118.99'}",NaN,NaN
991,Tieschitz,23989,Valid,H/L3.6,28000,Fell,1878-01-01T00:00:00.000,49.600000,17.116670,"{'latitude': '49.6', 'longitude': '17.11667'}",NaN,NaN
992,Tilden,23998,Valid,L6,74800,Fell,1927-01-01T00:00:00.000,38.200000,-89.683330,"{'latitude': '38.2', 'longitude': '-89.68333'}",34,1762
993,Tillaberi,23999,Valid,L6,3000,Fell,1970-01-01T00:00:00.000,14.250000,1.533330,"{'latitude': '14.25', 'longitude': '1.53333'}",NaN,NaN
994,Timochin,24004,Valid,H5,65500,Fell,1807-01-01T00:00:00.000,54.500000,35.200000,"{'latitude': '54.5', 'longitude': '35.2'}",NaN,NaN
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,"{'latitude': '13.63333', 'longitude': '79.41667'}",NaN,NaN
996,Tissint,54823,Valid,Martian (shergottite),7000,Fell,2011-01-01T00:00:00.000,29.481950,-7.611230,"{'latitude': '29.48195', 'longitude': '-7.61123'}",NaN,NaN
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,"{'latitude': '-7.08333', 'longitude': '111.533...",NaN,NaN
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,"{'latitude': '-6.66667', 'longitude': '106.583...",NaN,NaN
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,"{'latitude': '47.85', 'longitude': '34.76667'}",NaN,NaN